force-app/main/default/flows/Fetch_Related_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>226</locationX>
        <locationY>614</locationY>
        <actionName>SObjectIN</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fetched_Accounts_Null</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Default_Display</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sObjIds</name>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Accounts</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_the_Account_List</name>
        <label>Add to the Account List</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fetched_Accounts_Null</name>
        <label>Fetched Accounts == Null?</label>
        <locationX>226</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accounts</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Default_Display</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>TodayMinus7Days</name>
        <dataType>DateTime</dataType>
        <expression>Now()-7</expression>
    </formulas>
    <interviewLabel>Fetch Related Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch Related Contacts</label>
    <loops>
        <name>Loop_on_Accounts</name>
        <label>Loop on Accounts</label>
        <locationX>402</locationX>
        <locationY>854</locationY>
        <collectionReference>Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FetchedAccounts</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_on_Contacts</name>
        <label>Loop on Contacts</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Contacts_Updated_in_the_last_week</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_the_Account_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contacts_Updated_in_the_last_week</name>
        <label>Get Contacts Updated in the last week</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TodayMinus7Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Default_Display</name>
        <label>Default Display</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No Accounts fetched</stringValue>
            </defaultValue>
            <fieldText>Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FetchedAccounts</name>
        <label>Accounts</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_on_Accounts</targetReference>
        </connector>
        <fields>
            <name>FetchedAccounts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FetchedAccounts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_on_Accounts.Name</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FetchedAccounts_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FetchedAccounts_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Loop_on_Accounts.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Loop_on_Accounts.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Loop_on_Accounts.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Loop_on_Accounts.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Loop_on_Accounts.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FetchedAccounts_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Shipping Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Loop_on_Accounts.ShippingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Loop_on_Accounts.ShippingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Loop_on_Accounts.ShippingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Loop_on_Accounts.ShippingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Loop_on_Accounts.ShippingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts_Updated_in_the_last_week</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
